html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 1px;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.calculator-screen {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 140px;
  border: 20px solid white;
  background-color: rgb(3 35 18);
  color: #252525;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  padding: 20px;
  font-size: 4rem;
  font-family: 'Digital dream', sans-serif !important;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5) !important;
  overflow: auto;
}

button {
  height: 60px;
  font-size: 2rem !important;
  border-radius: 1rem !important;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.ac-sign {
  grid-area: 1/ 1/ span 1/ span 2;
}
.clearEntry-sign {
  grid-area: 1/ 3/ span 1/ span 1;
}
.divider-sign {
  grid-area: 1/ 4/ span 1/ span 1;
}
.button-7 {
  grid-area: 2/ 1/ span 1/ span 1;
}
.button-8 {
  grid-area: 2/ 2/ span 1/ span 1;
}
.button-9 { 
  grid-area: 2/ 3/ span 1/ span 1;
}
.multiple-sign {
  grid-area: 2/ 4/ span 1/span 1;
}
.button-4 {
  grid-area: 3/ 1/ span 1/ span 1;
}
.button-5 {
  grid-area: 3/ 2/ span 1/ span 1;
}
.button-6 {
  grid-area: 3/ 3/ span 1/ span 1;
}
.subtract-sign {
  grid-area: 3/ 4/ span 1/ span 1;
}
.button-1 {
  grid-area: 4/ 1/ span 1/ span 1;
}
.button-2 {
  grid-area: 4/ 2/ span 1/ span 1;
}
.button-3 {
  grid-area: 4/ 3/ span 1/ span 1;
}
.addition-sign {
  height: 98%;
  grid-area: 4/ 4/ span 2/ span 1;
}
.button-0 {
  grid-area: 5/ 1/ span 1/ span 1;
}
.desimal-sign {
  grid-area: 5/ 2/ span 1/ span 1;
  font-size: xx-large !important;
}
.equal-sign {
  grid-area: 5/ 3/ span 1/ span 1;
}